body {
  font-family: sans-serif;
  font-size: 2em;
}

.container {
  margin: 0 auto;
  max-width: 640px;
}

.movie {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

input {
  font-size: 1.5em;
  padding: 5px;
}

.mt-sm {
  margin-top: 10px;
}
